@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">

    <h1> Get to Know Joel Hilton</h1>

    <p>We introduce you to Joel Hilton – not just the curator of an enviable movie collection, but also a vibrant personality deeply entrenched in the world of film. His passion for cinema is not just a hobby; it's a significant part of his academic and professional life. Joel pursued a minor in Film Studies at BYU, a testament to his commitment to understanding the nuances of cinema. Beyond academics, Joel extends his love for movies into his work, contributing as a movie reviewer for ClearPlay. His insights and critiques are further shared through Baconsale, a weekly podcast that delves into films and pop culture, co-hosted by him.</p>

    <p>For those interested in exploring more about Joel's vibrant engagement with the film and comedy scene, you're encouraged to visit Quick Wits Comedy <a href="https://www.qwcomedy.com/">here</a>, where Joel performs regularly, showcasing his quick wit and humor. Additionally, for a deeper dive into his film critiques and pop culture discussions, head over to <a href="https://baconsale.com/">Baconsale</a>. There, you'll find engaging content that resonates with movie buffs and casual viewers alike. And, for a glimpse into the personality behind the collection and the commentary, click on the photo below, which also directs you to the Baconsale site, offering a more personal connection to Joel and his cinematic world.</p>
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" width="300"/>
    </a>
</div>