@model Movie

<h1>Add a new movie to our database below!</h1>
<br />
<br />

<form method="post">
    <label asp-for="MovieCategory">Movie Category</label>
    <input asp-for="MovieCategory"/>
    <br />
    <br />
    <label asp-for="MovieSubCategory">Movie Sub-Category</label>
    <input asp-for="MovieSubCategory" />
    <br />
    <br />
    <label asp-for="MovieName">Movie Title</label>
    <input asp-for="MovieName">
    <br />
    <br />
    <label asp-for="Year">Year</label>
    <input asp-for="Year"/>
    <br />
    <br />
    <label asp-for="Director">Director</label>
    <input asp-for="Director"/>
    <br />
    <br />
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <br />
    <label asp-for="Edited">Edited</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo"/>
    <br />
    <br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" maxlength="25"/>
    <br />
    <br />
    <button type="submit">Submit New Movie</button>
</form>